<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header class="navbar navbar-default" role="navigation">
    <div class="navbar-inner">
      <div class="container">
        <div id="logo" class="navbar-brand"><%= link_to "BlogbyPiyush", root_path %></div>
        <nav class="collapse navbar-collapse navbar-ex1-collapse">
          
            <ul class="nav navbar-nav pull-right">
              <li><%= link_to 'Posts', posts_path %></li>
              <li><%= link_to 'Create Post', new_post_path %></li>
            </ul>
          
        </nav>
      </div>
    </div>
  </header>

<div id="main_content" class="container">
    <% flash.each do |name, msg| %>
      <%= content_tag(:div, msg, class: "alert alert-info") %>
    <% end %>

      <div id="content" class="col-md-9 center-block">
        <%= yield %>
      </div>
    </div>
  </div>


</body>
</html>
